* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .border: 1px solid limegreen;
}

@font-face {
    font-family: tackyshoes;
    src: url(fonts/tackyshoes.otf);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #fbbf24;
    gap: 2em;
    margin-top: 3em;
}

h1 {
    font-family: tackyshoes;
    font-size: 5em;
    color: #f87171;
}

.board {
    height: 50%;
    width: 50%;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5em;
    background-color: white;
    border-radius: 0.3em;
}

.board .gameTile {
    background-color: #bae6fd;
    border-radius: 0.25em;
}

.infoContainer {
    display: flex;
}

.infoContainer span {
    font-weight: bold;
}

.board .markX {
    background-color: #fbd471;
}

.board .markO {
    background-color: #f98181;
}

.winner {
    font-weight: bold;
}