* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .border: 1px solid limegreen;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbbf24;
}

.board {
    height: 50%;
    width: 50%;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5em;
    background-color: white;
    border-radius: 0.3em;
}

.board .gameTile {
    background-color: #bae6fd;
    border-radius: 0.25em;
}